@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

body video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.video-hide{
    display: none;
}

.container{
    height: 500px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid gray;
    background: transparent;
    backdrop-filter: blur(8px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 35px;
    transition: all 0.4s ease-in-out;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.search input{
    height: 20px;
    width: 235px;
    padding: 10px;
    border: 1px solid #80808033;
    background: transparent;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    font-family: "poppins";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.search input::placeholder{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

.search button{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #80808033;
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.search input:hover, .search button:hover{
    background-color: rgba(255, 255, 255, 0.034);
    border: 1px solid #80808050;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.weather{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.weather .contryname-temp .c-Name{
    color: gray;
    font-size: 12px;
    font-family: "poppins";
    font-weight: 500;
    letter-spacing: 1px;
}

.weather img{
    height: 120px;
    border-radius: 50%;
}

.about-weather , .degree{
    color: white;
    font-size: 16px;
    font-family: "poppins";   
}

.degree{
    font-size: 30px;
    font-weight: 500;
}

.humidity-wind{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.humidity{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.humidity img{
    height: 45px;
    border-radius: 50%;

}

.humidity div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.humidity div .percentage{
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: "Work Sans";
}

.humidity div .humid{
    font-size: 14px;
    letter-spacing: 2px;
}

.humidity div .wind{
    font-size: 20px;
}

.other-contry{
    height: 90px;
    width: 90%;
    border-radius: 15px;
    border: 1px solid ;
    border: 1px solid #ffffff57;
    background-color: #09090d66;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 15px;
}

.other-contry:hover{
    background-color: #09090d71;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.other-contry img{
    height: 50px;
    border-radius: 50%;

}

.country-name-temp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%;
}

.country-name-temp div{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-transform: capitalize;
    font-family: "poppins";
}

.country-name-temp .temp{
    font-family: "Work Sans";
    font-size: 40px;
}

@media (max-width: 500px) {
    .container{
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        padding-top: 45px;
        border: none;
    }
    .search input{
        width: 70%;
        border: 1px solid rgba(255, 0, 0, 0.637);
    }
    .search input:hover, .search button:hover{
        border: 1px solid red;
    }
    .search button{
        border: 1px solid red;
    }
    .other-contry{
        border: 1px solid red;
    }
}

@media (max-width: 350px) {
    .humidity div .percentage{
        font-size: 20px;
    }
    .humidity img {
        height: 40px;
    }
    .humidity div .humid{
        font-size: 12px;
    }
    .humidity div .wind{
        font-size: 17px;
    }
}